WALLET_ADDRESS=
PRIVATE_KEY=

COMPOUND_AT_NODES=1 # number of nodes to create at a time (to save on gas for example)

CONTRACT_ADDRESS=0xd77b0756be406a6a78d47285edd59234d781d568
RPC_URL=https://api.avax.network/ext/bc/C/rpc

GRAPE_NODE_COST=50   # in grape
COMPOUND_INTERVAL=10 # in seconds
